
body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial Black, Arial, sans-serif;
}

h1 {
    font-size: 2rem;
}

section {
    background-color: lightgray;
    border-radius: 25px;
    padding: 25px;
    margin: 0 auto;
    width: 458px;
}

.lista {
    padding: 0;
}

.lista__item {
    background-color: gray;
    border-radius: 10px;
    font-size: 1.5rem;
    list-style: none;
    padding: 25px 15px;
    margin: 10px 0;
    transition: .5s all;
}

.lista__item:hover {
    background-color: lightgray;
    transform: scale(1.05);
}

.lista__item:hover.removido{
    background-color: #ec644b;
}

.lista__item:hover.selecionado{
    background-color: #36d6db;
}

/*
    Classes que serão utilizadas no JavaScript
    para adicionar interação com conteúdo.
*/

.removido {
    /*
        Adicione um cor para o item quando removido.
        Um exemplo seria a cor vermelha.
    */

    background-color: #fe7968;
    color: 	#ffc6be;
}

.selecionado {
    /*
        Adicione uma cor para item quando selecionado.
        Um exemplo seria a cor verde e/ou azul.
    */
    background-color:  	#0db4b9;
    color: #fff;
}