body{
    h1{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #b7094c;
        color:#efefef;
        width: fit-content;
        padding: 20px;
        &::after{
            content: '🛒';
            margin-left: 10px;
        }
    }
}

.lista{
    background-color: #f7ede2;
    width: 50%;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    .lista__item{
        background-color: #f6bd60;
        text-align: center;
        padding: 10px 20px;
        border-radius: 5px;
        transition: .3s all;
        &:hover{
            background-color: #e36414;
            color: #efefef;
        }
    }
}