@charset "UTF-8";
body h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b7094c;
  color: #efefef;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
}

body h1::after {
  content: '🛒';
  margin-left: 10px;
}

.lista {
  background-color: #f7ede2;
  width: 50%;
  padding: 20px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.lista .lista__item {
  background-color: #f6bd60;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.lista .lista__item:hover {
  background-color: #e36414;
  color: #efefef;
}
/*# sourceMappingURL=style.css.map */